<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Memory Match</title>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>Memory Match - Game using Asynchronous JavaScript Programming</h1>
        <center>
            <table id="gridTable">
                <tr>
                    <td id="grid7"></td>
                    <td id="grid8"></td>
                    <td id="grid9"></td>
                </tr>
                <tr>
                    <td id="grid4"></td>
                    <td id="grid5"></td>
                    <td id="grid6"></td>
                </tr>
                <tr>
                    <td id="grid1"></td>
                    <td id="grid2"></td>
                    <td id="grid3"></td>
                </tr>
            </table>
            <button id="restart">Restart</button>
            <p id="timer"></p>
        </center>
        <script src="main.js"></script>
    </body>
</html>
